<div class="no-msg">
    <div>
        <img src="/images/qst-bbl.svg" alt="Sem perguntas aqui">
    </div>
    <div>
        <h2>Sem perguntas por aqui...</h2>
        <p>Faça sua primeira pergunta e envie o</p>
        <p>código dessa sala para outras pessoas!</p>
    </div>
</div>